.selected {
    background-color: rgb(173, 192, 201) !important;
    color: white;
    font-weight:bold;
  }

  h1 {
    font-family: Arial, fantasy;
    font-weight: bold;
    font-size: 500%;
    /* color: #556b2f; */
    color: darkorange;
  }
  .id{
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
    /* color: #556b2f; */
    color: brown;
    opacity: 0.5;

  }
  
  .name {
    font-size: 140%;
    text-decoration: none;
    /* color: #556b2f; */
    color: brown;
    opacity: 1;
  
  }

  .button{
    font-size: 85%;
    margin-left: 20px;
  }
  
  .button:hover{
    font-weight:bold;
  }
  
  .deletebutton:hover {
    background-color: #ffafaf;
  }

  .deletebutton {
    /* background-color: lightcyan; */
    background-color: transparent;
    border-radius: 7px;
    height: 25px;
    
  }

  .addnewbutton{
    /* background-color: #c4efc4; */
    background-color: transparent;
    opacity: 0.9;
    border-radius: 10px;
    height: 50px;
    width: 70px;
  }
  
  .addnewbutton:hover{
    background-color: orange;
  }
  
  .addnewbuttontext:hover{
    font-style: italic;
  }

  a{
    text-decoration: none;
  }

  .name:hover {
    font-weight: bolder;
  }

  .all {
    text-align: center;
    margin: 0 auto;
  }

  li {
    list-style: none;
  }

.forma {
  color: brown;
  opacity: 0.7;
}
  input {
    color: blue;
  }