<hr>
<h2>Orders</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li *ngFor="let order of orders">
        
        <a routerLink="/detail/{{order.id}}">
          <span class="badge"> {{order.id}}. </span>  {{order.name}}
          </a>
        </li>
      </ul>
          <button class="btn btn-success">Add New Order</button>
        <!-- <app-order-details [order]="selectedOrder"></app-order-details> -->
      </div> 
    </div>
</div>

      <!-- <div *ngIf="selectedOrder">
        <h2>{{selectedOrder.name | uppercase}} Details</h2>
          <div><span>id: </span>{{selectedOrder.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)] = "selectedOrder.name" placeholder="name">
          </label>
          </div>
        </div>-->