<hr>
<h1>Menus</h1>
      <ul>
        <li *ngFor="let menu of menus"
        [class.selected]="menu === selectedMenu"
        (click)="onSelect(menu)">
        <span class="idandname"> {{menu.id}}.   {{menu.name}}</span>
        </li>
      </ul>
<button class="btn btn-success">Add New Menu</button>

<div *ngIf="selectedMenu">

  <h2>{{selectedMenu.name}} details</h2>
  <div ><span class="idclass">id:  {{ selectedMenu.id }}</span></div>
</div>
<div *ngIf = "selectedMenu.name != 'Choose a menu to see the'">
<label>name:
  <input [(ngModel)] = "selectedMenu.name"  placeholder="name">
</label>
</div>  
<!-- </div> -->
  