.selected {
    background-color: rgb(173, 192, 201) !important;
    color: white;
    font-weight:bold;
  }

  h1 {
    font-family: Arial, fantasy;
    font-weight: bold;
    font-size: 500%;
    color: #556b2f;
  }
  .id{
    font-size: 200%;
    font-weight: bolder;
    text-decoration: none;
    color: #556b2f;
  }
  
  .name {
    font-size: 140%;
    text-decoration: none;
    color: #556b2f;
  
  }

  .button{
    font-size: 120%;
    margin-left: 10px;
  }
  
  .button:hover{
    font-weight:bold;
  }
  
  .deletebutton:hover {
    background-color: #cbeded;
  }

  .deletebutton {
    background-color: lightcyan;
    border-radius: 7px;
    
  }

  .addnewbutton{
    background-color: #c4efc4;
    border-radius: 10px;
    height: 40px;
    width: 30%;
  }
  
  .addnewbutton:hover{
    background-color: #d2f7d2;
  }
  
  .addnewbuttontext:hover{
    font-style: italic;
  }

  a{
    text-decoration: none;
  }

  .name:hover {
    font-weight: bolder;
  }