<hr>
<h2>Menus</h2>
<!-- <div class="row"> -->
  <div class="col-md-6">
      <ul>
        <li *ngFor="let menu of menus"
        [class.selected]="menu === selectedMenu"
        (click)="onSelect(menu)">
        <span class="badge"> {{menu.id}}. </span>  {{menu.name}}
        </li>
      </ul>
<button class="btn btn-success">Add New Menu</button>
</div>

<div *ngIf="selectedMenu">

  <h2>{{selectedMenu.name}} details</h2>
  <div ><span>id: </span> {{ selectedMenu.id }}</div>
</div>
<div *ngIf = "selectedMenu.name != 'Choose a menu to see the'">
<label>name:
  <input [(ngModel)] = "selectedMenu.name"  placeholder="name">
</label>
</div>  
<!-- </div> -->
  