<div class="all">
  <div class="left">
    <div *ngIf="order">
      <h2>{{order.name}} Details</h2>
        <div><span class="id">id: {{order.id}}</span></div>
      <div>
        <label><span class="name">Name:</span>
          <input [(ngModel)] = "order.name" placeholder="Order Name"><button (click) = "save()">save</button>
        </label><br><br>
        <div> <ul>
          <li *ngFor="let item of order.items"><span>
          {{item.person}} ordered {{item.quantity}} {{item.name}} 
            <br> 
          The price of this item is: <span class="itemprice">{{item.price}}</span> </span><span class="removebuttons"><button class="x" (click) = "patchItRemove(item)">X</button></span><span class="minusonebtn"><button class="x">-1</button></span><hr></li></ul></div>

          <span class="name">The total price is: <span class="total">{{getTotal()}}</span></span>

        </div>
          <hr>
          <div class="bottommargin"><button class="btn btn-info"(click)="goBack()">Go Back</button></div>
        </div>
      </div>

  <div class="right">

    <h2>Choose a Menu</h2>
      <ul class="openmenus">
        <button class="allmenus">All Menus</button><br><br>
      <li>
        <ul class = "menulista" *ngFor="let menu of menus">
          <button class="individualmenus"><span class="id"> {{menu.id}}.</span>   <span class="name">{{menu.name}}</span></button>
        <li class = "lista" *ngFor="let item of menu.items">
          <a><span class="names" (click) = "patchItAdd(menu.id, item.name, item.price)">{{item.name}} - {{item.price}}</span></a>
        </li>
          <br><br>
        </ul>
      </li>
      </ul>
  </div>
  
</div>