.FOA {
    color: #696969;
    font-weight: bold;
    font-size: 150%;
}

.FOA:hover{
    opacity: 0.8;    
}

.navitems {
    color: #696969;
    font-weight: bolder;
    font-size: 130%;
}

.navitems:hover{
    opacity: 0.6; 
}

nav{
    background: #FFB775;
}

.username {
    font-size: 130%;
    font-weight: bold;
    color: black;
    opacity: 0.7;
}

.logout {
    font-size: 120%;
    font-weight: bolder;
    color: black;
    opacity: 0.6;
}

.logout:hover {
    opacity:1;
}