.all {
    position: fixed;
    top: 50%;
    left:50%;
    margin-top: -100px;
    margin-left: -200px;
}

.welcome {
    margin-left: 50px;
    font-weight: bold;
}

h1, h3 {
    color: brown;
}

.myorders{
    background-color: transparent;
    opacity: 0.9;
    border-radius: 10px;
    height: 40px;
    color: white;
}

.myorders:hover{
    background-color: orange;
    font-weight: bold;
  }

  .nameform {
      margin-left: 50px;
  }