<div class="all"><div class="welcome"><h1>WELCOME! </h1>
  <span *ngIf = "username">
    <h3>You are logged in as {{username}}</h3>
    <a id = "myorders" routerLink = "/orders"><button class="myorders">My Orders</button></a>
  </span>
  
</div>
<br><br>
    <label *ngIf = "!username"class="nameform">
      Please enter your name:
      <input #userName placeholder="What's your name?" 
        onfocus="this.placeholder =''" 
          onblur="this.placeholder = 'What\'s your name?'"/><br><br>
      <!-- <a routerLink="/orders"> -->
        <span class="namespan">
          <button class="btn btn-primary" 
          (click)= "setUsername(userName.value);">Confirm
          </button>
      </span>
    <!-- </a> -->
    </label>
</div>