.itemname {
    font-size:125%;
    color: brown;
}

#itemprice {
  font-size:130%;
  color: brown;
  font-weight: bold;
}

h2 {
  font-family: Arial, fantasy;
  color: darkorange;
  font-size: 300%;
  font-weight:bold;
  cursor: default;
}
  .addnewbuttontext:hover{
    font-style: italic;
  }

  .addnewitembutton {
    background-color: transparent;
    opacity: 0.9;
    border-radius: 10px;
    width: 100px;
  }

  .addnewitembutton:hover{
    background-color: orange;
  }

  .button{
    font-size: 85%;
    margin-left: 20px;
  }
  
  .button:hover{
    font-weight:bold;
  }
  
  .deletebutton:hover {
    background-color: #ffafaf;
  }

  .deletebutton {
    /* background-color: lightcyan; */
    background-color: transparent;
    border-radius: 7px;
    height: 25px;
    
  }

  li {
    cursor: default;
    list-style-type:none;
  }
  h3 {
    font-size: 200%;
    font-weight: bolder;
    color: darkorange;
    opacity: 0.9;
  }

  .all {
    text-align: center;
    margin: 0 auto;
  }

  .forma {
    color: brown;
    opacity: 0.7;
  }
    input {
      color: blue;
    }