<div class="all">
<div *ngIf="menu">

    <h2>{{menu?.name}} details</h2>
    <div ><span class="idclass">id:  {{menu?.id}}</span></div>
  </div>
  <label>name:
    <input [(ngModel)] = "menu.name"  placeholder="name"> <button (click) = "save()">save</button>
  </label>

  <h2>Available Items </h2>
      <ul>
        <li *ngFor = "let item of menu.items">
              
        <span class="items">{{item?.name}} costs {{item?.price}}</span> 
        <span class="button"><button class="deletebutton" (click) = "patchItRemove(item)">Remove</button></span>
    </li>
  </ul>

  <h3>Add a New Item to the List</h3>

  <label class="forma">
      Name of the item:
      <input #itemName placeholder="What's the name of the item?" onfocus="this.placeholder =''" onblur="this.placeholder = 'What\'s the name of the item?'"/><br><br>
      Item's price:
      <input #itemPrice placeholder="What's the price?"onfocus="this.placeholder =''" onblur="this.placeholder = 'What\'s the price?'"/><br><br>
      <span class="addnewbuttontext"><button class="addnewitembutton" (click) = "patchItAdd(menu.id, itemName.value, itemPrice.value)">Add</button></span>
  </label><br>
  <hr>

  <button class="btn btn-info"(click)="goBack()">Go Back</button>
</div>