<h1>Orders</h1><br>
  <ul>
    <li *ngFor="let order of orders"> 
      <a routerLink="/detail/{{order.id}}">
        <span class="id"> {{order?.id}}. </span>  <span class="name">{{order?.name}}</span>
      </a>
        <span class="button"><button class="deletebutton" (click) = "delete(order)">Delete</button></span>
          <br><br>
    </li>
  </ul>

<div>
  <label class="forma">
      Name of the order:
      <input #orderName/>
  </label><br>
         <span class="addnewbuttontext"><button class="addnewbutton" (click)="add(orderName.value); orderName.value=''"> Add New Order</button></span>
</div>
