.deletebutton {
  /* background-color: lightcyan; */
  background-color: transparent;
  border-radius: 7px;
  height: 25px;
  
}

a {
  text-decoration: none;
  color: #556b2f;
}

.deletebutton:hover {
  background-color: #ffafaf;
}


h1 {
  font-family: Arial, fantasy;
  font-weight: bold;
  font-size: 500%;
  /* color: #556b2f; */
  color: darkorange;
}
.id{
  font-size: 200%;
  font-weight: bolder;
  text-decoration: none;
  /* color: #556b2f; */
  color: brown;
  opacity: 0.5;

}

.name {
  font-size: 140%;
  text-decoration: none;
  /* color: #556b2f; */
  color: brown;
  opacity: 1;

}

.name:hover {
  font-weight: bolder;
}

.button{
  font-size: 85%;
  margin-left: 20px;
}

.button:hover{
  font-weight:bold;
}

.addnewbutton{
  /* background-color: #c4efc4; */
  background-color: transparent;
  opacity: 0.9;
  border-radius: 10px;
  height: 40px;
  width: 8%;
}

.addnewbutton:hover{
  background-color: orange;
}

.addnewbuttontext:hover{
  font-style: italic;
}

.forma {
  color: brown;
  opacity: 0.7;
}

/* .all {
  text-align: center;
}

.inside {
  display: inline-block;
} */
.all {
  text-align: center;
  margin: 0 auto;
}

li {
  list-style: none;
}

input {
  color: blue;
}