h2 {
    font-family: Arial, fantasy;
    color: #556b2f;
    font-size: 300%;
    font-weight:bold;
}
span {
    font-size:140%;
    color: #556b2f;
    font-weight:bolder;
}

.total {
    color: red;
}

.all {
    width: 100%;
    overflow: hidden;
}
.left {
    width: 50%;
    float:left;
}
.right {
    
    overflow: hidden;
}

.lista {
    display: none;
}

.menulista {
    display: none;
}

.menulista:hover .lista {
    display: block;
}

a:hover {
    cursor:pointer;
   }
li {
    list-style-type: none;
  }

ul {
    list-style-type: none;
  }

.openmenus:hover .menulista {
    display: block;
  }

  .allmenus {
    background-color: transparent;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
  }

  .individualmenus{
        background-color:transparent;
        border:2px solid #d9ce03;
        display:inline-block;
        cursor:pointer;
        color:#000000;
        font-family:Arial;
        font-size:14px;
        font-weight:bold;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 0px 0px #2f6627;
    
  }

  .individualmenus:hover {
      filter: brightness(50%);
  }

  .names {
      opacity: 0.75;
  }

  .names:hover {
      opacity:1;
      filter: brightness(75%);
  }

  .itemprice {
      color:brown;
      opacity: 0.8;
      font-size: 120%;
  }

.x {
    margin-left: 20px;
    font-weight: bold;
    background-color: transparent;
  }

  .x:hover {
    background-color: #f98543;
  }

  a {
      text-decoration: none;
  }

  .removebuttons {
      color: grey;
  }
.removebuttons:hover {
    color: black;
}

.minusonebtn:hover {
    color: black;
}

.minusonebtn {
    color: grey;
}

.bottommargin{
    margin-bottom:50px;
}